<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ICTAK</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- ICTAK_logo -->

    <link rel="shortcut icon" href="./static/images/ICT.ico">

    <!-- ICTAK_logo -->

    </head>
<body class="body-index">
    <!-- ICTAK_navbar -->

    <nav class="navbar navbar-expand-md bg-dark navbar-dark navb-tr justify-content-between sticky-top">
        <a class="navbar-brand" href="/">
            <img src="./static/images/ICT.ico" class="navb-img" alt=""> ICTAK</a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">ABOUT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/services">SERVICES</a>
                  </li>  
                </ul>
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
                        <div class="input-group lr">
                          <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#myModal">LOGIN</button>
                          </div>
                      </li>  -->
                      <li class="nav-item">
                          <form action="/services">
                        <div class="input-group lr">
                          <button class="btn btn-success" type="submit">REGISTER</button>
                          </div> 
                          </form>
                      </li> 
                      
                  <li class="nav-item">
                      <form class="form-inline" action="/">
                        <div class="input-group">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                      </form>  
                  </li>  
                </ul>

              </div>
    </nav>
    

    <!-- ICTAK_navbar -->

    <!-- ICTAK_index_content -->

    
    <div class="container-fluid">
      <div class="row">
        
        <!-- ICTAK_index_section1 -->

        <div data-spy="scroll" class="table-responsive container-fluid col col-12 col-md-2 sec1 any">
          <table>
            <tr>
              <td><h2 class="display-5 sec1_head">Training<br>Programs</h2></td>
            </tr>
            <tr>
              <td>
                  <figure class="figure">
                      <img src="./static/images/moodle.png" class="figure-img img-fluid rounded mx-auto d-block" alt="Moodle">
                      <figcaption class="figure-caption text-center"><h2 class="display-5 sec1_subhead">Moodle</h2></figcaption>
                    </figure>
              </td>
            </tr>

            <tr>
                <td>
                    <figure class="figure">
                        <img src="./static/images/bc.jpg" class="figure-img img-fluid rounded mx-auto d-block" alt="Moodle">
                        <figcaption class="figure-caption text-center"><h2 class="display-5 sec1_subhead">Blockchain</h2></figcaption>
                      </figure>
                </td>
              </tr>
  

            <tr>
                <td>
                    <figure class="figure">
                        <img src="./static/images/dc.png" class="figure-img img-fluid rounded mx-auto d-block" alt="Moodle">
                        <figcaption class="figure-caption text-center"><h2 class="display-5 sec1_subhead">Data Science & Analytics</h2></figcaption>
                      </figure>
                </td>
              </tr>


            <tr>
                <td>
                    <figure class="figure">
                        <img src="./static/images/Python.jpg" class="figure-img img-fluid rounded mx-auto d-block" alt="Moodle">
                        <figcaption class="figure-caption text-center"><h2 class="display-5 sec1_subhead">Python Programming</h2></figcaption>
                      </figure>
                </td>
              </tr>

              <tr>
                  <td>
                      <figure class="figure">
                          <img src="./static/images/iot.jpeg" class="figure-img img-fluid rounded mx-auto d-block" alt="Moodle">
                          <figcaption class="figure-caption text-center"><h2 class="display-5 sec1_subhead">Internet of Things</h2></figcaption>
                        </figure>
                  </td>
                </tr>
          </table>
        </div>

        <!-- ICTAK_index_section1 -->



        <!-- ICTAK_index_section2 -->


        <div class="container-fluid col col-12 col-sm-8">

            
                <div class="container">
                  <h3 class="display-4 sec2_head">Top Events @ Calicut</h3>
                </div>
              

            <div id="demo" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                <div class="container carousel-inner new">
                  <div class="carousel-item active">
                    <img src="./static/images/sft.jpg" class="img-fluid rounded mx-auto d-block" alt="Los Angeles" s>
                    <div class="carousel-caption">
                      <h3 class="pictext">Soft Skill Development Program</h3>
                      <p class="pictext">@ Calicut</p>
                    </div>   
                  </div>
                  <div class="carousel-item new">
                    <img src="./static/images/tea.jpg" class="img-fluid rounded mx-auto d-block" alt="Chicago">
                    <div class="carousel-caption">
                      <h3 class="pictext">Faculty Development Program</h3>
                      <p class="pictext">@ Calicut</p>
                    </div>   
                  </div>
                  <div class="carousel-item new">
                    <img src="./static/images/abc.jpg" class="img-fluid rounded mx-auto d-block" alt="New York">
                    <div class="carousel-caption">
                      <h3 class="pictext">IT Training Program</h3>
                      <p class="pictext">@ Calicut</p>
                    </div>   
                  </div>
                </div>
                <a class="carousel-control-prev previ" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next nexti" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>  
        </div>

        <!-- ICTAK_index_section2 -->




        <!-- ICTAK_index_section3 -->

        <div class="table-responsive container col col-12 col-md-2 sec3 any">
          <table>
            <tr>
              <td><h2 class="display-5 sec3_head">Training<br>Categories</h2></td>
            </tr>
            <tr>
              <td>
                  <figure class="figure">
                    <img src="./static/images/faculty.png" class="embed-responsive-item figure-img img-fluid rounded mx-auto d-block" alt="Moodle">
                    <figcaption class="figure-caption text-center"><h2 class="display-5 sec3_subhead">Faculty Development Program</h2></figcaption>
                    </figure>
              </td>
            </tr>

            <tr>
                <td>
                    <figure class="figure">
                      <img src="./static/images/it.png" class="embed-responsive-item figure-img img-fluid rounded mx-auto d-block" alt="Moodle">
                      <figcaption class="figure-caption text-center"><h2 class="display-5 sec3_subhead">IT Training Program</h2></figcaption>
                    </figure>
                </td>
              </tr>
  

            <tr>
                <td>
                    <figure class="figure">
                      <img src="./static/images/soft.jpg" class="embed-responsive-item figure-img img-fluid rounded mx-auto d-block" alt="Moodle">
                      <figcaption class="figure-caption text-center"><h2 class="display-5 sec3_subhead">Soft Skill Development Program</h2></figcaption>
                    </figure>
                </td>
              </tr>


            <tr>
                <td>
                    <figure class="figure">
                      <img src="./static/images/emp.png" class="embed-responsive-item figure-img img-fluid rounded mx-auto d-block" alt="Moodle">
                      <figcaption class="figure-caption text-center"><h2 class="display-5 sec3_subhead">Orientation Training</h2></figcaption>
                    </figure>
                </td>
              </tr>
          </table>
        </div>

        <!-- ICTAK_index_section3 -->

      </div>
    </div>  
    
 
      <!-- ICTAK_index_content -->
    
<!-- 
  <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <div class="modal-header">
            <h4 class="modal-title" style="color:black">ICTAK LOGIN</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <div class="modal-body">
  
  
              <form action="/action_page.php">
                      <div class="input-group input-group-md mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">User Name</span>
                            </div>
                                <input type="text" class="form-control" placeholder="User Name" Name" required>
                    </div>
  
                    <div class="input-group input-group-md mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                                <input type="password" pattern="^[a-z]{5}[0-9]{3}$" class="form-control" placeholder="Your Password" required>
                    </div>
                
                   <button class="btn btn-warning btn-lg">LOGIN</button><br/>
              </form>    
  
  
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div> -->
      <!-- ICTAK modal -->



      <!-- ICTAK footer -->

      <div class="footer">
        <div class="row">
          <div class="col col-12 col-md-6"><br><br><br>
              <a href="https://www.facebook.com/ictkerala"><i class="fa fa-facebook-official" style="font-size:36px;"></i></a>
              <a href="https://www.instagram.com/ictak_kerala/"><i class="fa fa-instagram" style="font-size:36px;"></i></a>
              <a href="https://twitter.com/ictakerala"><i class="fa fa-twitter" style="font-size:36px;""></i></a>
              <a href="https://plus.google.com/104561462705332107836/posts"><i class="fa fa-google-plus" style="font-size:36px;"></i></a>
              <a href="https://in.linkedin.com/pub/ict-academy-of-kerala/9a/281/3b7"><i class="fa fa-linkedin" style="font-size:36px;"></i></a>
              <a href="https://www.youtube.com/user/ictkerala"><i class="fa fa-youtube" style="font-size:36px;"></i></a>
          </div>
          <div class="col col-12 col-md-6"><br><br><br>
              <h6>Copyright 2019 © ICT Academy of Kerala. All Rights Reserved.</h6> 
          </div>
        </div>
        <br><br>
      </div>

      <!-- ICTAK footer -->

</body>
</html>





