<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ICTAK</title>
    <link rel="stylesheet" href="./static/css/style_ser.css">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- ICTAK_logo -->

        <link rel="shortcut icon" href="./static/images/ICT.ico" />

    <!-- ICTAK_logo -->

    <script src="./static/js/reg.js">
    
    </script>
</head>
<body class="body-services">

        <!-- ICTAK_navbar -->

    <nav class="navbar navbar-expand-md bg-dark navbar-dark navb-tr justify-content-between sticky-top">
        <a class="navbar-brand" href="/">
            <img src="./static/images/ICT.ico" class="navb-img" alt=""> ICTAK</a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">ABOUT</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/services">SERVICES</a>
                  </li>  
                </ul>
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
                    <div class="input-group lr">
                      <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#myModal">LOGIN</button>
                      </div>
                  </li>  -->
                  <li class="nav-item">
                      <form action="/services">
                    <div class="input-group lr">
                      <button class="btn btn-success" type="submit">REGISTER</button>
                      </div> 
                      </form>
                  </li> 
                  
                  <li class="nav-item">
                      <form class="form-inline" action="/">
                        <div class="input-group">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                      </form>  
                  </li>  
                </ul>

              </div>
    </nav>


    <!-- ICTAK_navbar -->

    <section style="position: relative sticky; top: 50px;background: url(./static/images/bg3.jpeg);">
            <marquee><h3 class="display-4 ser_head">ICTAK TRAINING REGISTRATION</h3></marquee>
    </section><br>

        <!--ICTAK_registration_form  -->
    <div class="container-fluid" style="position: relative;;">

        <div class="row">
            <div class="col-12 col-sm-3">

            </div>
            <div class="col-12 col-sm-6">
                <form action="/" onsubmit="return validate();">
                    <div class="input-group input-group-lg mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                                <input id="fname" type="text" class="form-control" placeholder="Your Full Name" onblur="validate_fname(this);" required>
                                <label class="reg_ser" id="i_fname">Invalid</label>
                            </div>
                       
                        <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Age</span>
                                </div>
                                    <input id="age" type="number" class="form-control" placeholder="Your Age" onblur="validate_age(this);" required>
                                    <label class="reg_ser" id="i_age">Invalid</label>
                        </div>
                        
                        <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Date of Birth</span>
                                </div>
                                    <input id="dob" type="date" class="form-control" placeholder="Your D-O-B" onblur="validate_dob(this);" required>
                                    <label class="reg_ser" id="i_dob">Invalid</label>
                        </div>

                        <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email</span>
                                </div>
                                    <input id="email" type="text" class="form-control" placeholder="Your Email" onblur="validate_email(this);" required>
                                    <label class="reg_ser" id="i_email">Invalid</label>
                        </div>

                        <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Address</span>
                                </div>
                                    <textarea id="adrs" class="form-control" placeholder="Your Address" onblur="validate_adrs(this);" required></textarea>
                                    <label class="reg_ser" id="i_adrs">Invalid</label>
                        </div>

                        <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Pincode</span>
                                </div>
                                    <input id="pin" type="tel" class="form-control" placeholder="Your Pincode" onblur="validate_pin(this);" required>
                                    <label class="reg_ser" id="i_pin">Invalid</label>
                        </div>

                        <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">District</span>
                                </div>
                                <select id="dis" class="custom-select" onblur="validate_dis(this);" required>
                                        <option></option>
                                        <option>Kasargod</option>
                                        <option>Kannur</option>
                                        <option>Wayanad</option>
                                        <option>Kozhikode</option>
                                        <option>Malappuram</option>
                                        <option>Palakkad</option>
                                        <option>Thrissur</option>
                                        <option>Ernakulam</option>
                                        <option>Idukki</option>
                                        <option>Kottayam</option>
                                        <option>Alappuzha</option>
                                        <option>Pathanamthitta</option>
                                        <option>Kollam</option>
                                        <option>Thiruvanathapuram</option>
                                </select>
                                <label class="reg_ser" id="i_dis">Invalid</label>
                        </div>

                        <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Highest Qualification</span>
                                </div>
                                <select id="hq" class="custom-select" onblur="validate_hq(this);" required>
                                    <option></option>
                                    <option>B.Tech</option>
                                    <option>BCA</option>
                                    <option>M.Tech</option>
                                </select>
                                <label class="reg_ser" id="i_hq">Invalid</label>
                        </div>

                        <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Phone</span>
                                </div>
                                    <input id="ph" type="tel" pattern="^[6789]{1}[0-9]{9}$" class="form-control" placeholder="Your Mobile Number" onblur="validate_ph(this);" required>
                                    <label class="reg_ser" id="i_ph">Invalid</label>
                        </div>

                        <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Gender</span>
                                </div>
                                <select id="gn" class="custom-select" onblur="validate_gn(this);" required>
                                    <option></option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                                <label class="reg_ser" id="i_gn">Invalid</label>
                        </div>
                        
                        <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">User Name</span>
                                </div>
                                    <input id="uname" type="text" class="form-control" placeholder="User Name is your email id" onblur="validate_uname(this);" required>
                                    <label class="reg_ser" id="i_uname">Invalid</label>
                        </div>

                        <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Password</span>
                                </div>
                                    <input id="pswd" type="password" class="form-control" placeholder="Your Password {5 alphabets followed by 3 numbers}" onblur="validate_pswd(this);" required>
                                    <label class="reg_ser" id="i_pswd">Invalid</label>
                        </div>
                    
                        <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Confirm Password</span>
                                </div>
                                    <input id="cpswd" type="password" class="form-control" placeholder="Confirm Password" onblur="validate_cpswd(this);" required>
                                    <label class="reg_ser" id="i_cpswd">Invalid</label>
                        </div>

                        <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input id="cb" type="checkbox" class="form-control" style="width: 20px" required> I agree to the Terms.
                                    </div>
                                </div>
                        </div>

                        <button type="submit" class="btn btn-warning btn-lg">REGISTER</button><br/><br>
                   

                </form>    
            </div>
            <div class="col-12 col-sm-3">

            </div>
        </div>
    </div>


        <!--ICTAK_registration_form  -->
    



<!-- 
  <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <div class="modal-header">
            <h4 class="modal-title" style="color:black">ICTAK LOGIN</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <div class="modal-body">
  
  
              <form action="/action_page.php">
                      <div class="input-group input-group-md mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">User Name</span>
                            </div>
                                <input type="text" class="form-control" placeholder="User Name" Name" required>
                    </div>
  
                    <div class="input-group input-group-md mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                                <input type="password" pattern="^[a-z]{5}[0-9]{3}$" class="form-control" placeholder="Your Password" required>
                    </div>
                
                   <button class="btn btn-warning btn-lg">LOGIN</button><br/>
              </form>    
  
  
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div> -->
      <!-- ICTAK modal -->
    

 <!-- ICTAK footer -->

      <div class="footer">
        <div class="row">
          <div class="col col-12 col-md-6"><br><br><br>
              <a href="https://www.facebook.com/ictkerala"><i class="fa fa-facebook-official" style="font-size:36px;"></i></a>
              <a href="https://www.instagram.com/ictak_kerala/"><i class="fa fa-instagram" style="font-size:36px;"></i></a>
              <a href="https://twitter.com/ictakerala"><i class="fa fa-twitter" style="font-size:36px;""></i></a>
              <a href="https://plus.google.com/104561462705332107836/posts"><i class="fa fa-google-plus" style="font-size:36px;"></i></a>
              <a href="https://in.linkedin.com/pub/ict-academy-of-kerala/9a/281/3b7"><i class="fa fa-linkedin" style="font-size:36px;"></i></a>
              <a href="https://www.youtube.com/user/ictkerala"><i class="fa fa-youtube" style="font-size:36px;"></i></a>
          </div>
          <div class="col col-12 col-md-6"><br><br><br>
              <h6>Copyright 2019 © ICT Academy of Kerala. All Rights Reserved.</h6> 
          </div>
        </div>
        <br><br>
      </div>

      <!-- ICTAK footer -->
  
</body>
</html>